#header {
  display: flex;
  justify-content: space-between;
}

#header #left {
  width: 20%;
}

#header #right {
  width: 20%;
}

#header #center {
  width: 50%;
}

#header #left img {
  height: 180px;
}

#header #center img {
  width: 100%;
}

#header #right img {
  height: 120px;
  float: right;
}

body {
  background-color: #f7ca00;
}
